@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 1.3rem;
}

main {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    padding: 10px;
    gap: 10px;
}

main > div {
    border: black solid 2px;
    border-radius: 10px;
    padding: 10px 15px;
}

main > div > p {
    font-size: 1.5rem;
}

.btn {
    background-color: white;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 80%);
}

dialog {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

dialog > svg {
    height: 30px;
    align-self: flex-end;
}

dialog > svg:hover {
    cursor: pointer;
}

.todo_form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.todo_form > input {
    padding: 3px 10px;
    font-size: 1rem;
}

.todo_form > fieldset {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.todo_form > button {
    font-size: 1.2rem;
    padding: 5px 10px;
    margin-top: 10px;
}